#project {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.heading {
    font-size: 5rem;
    background: linear-gradient(to right, rgb(221, 27, 56), white);
    background-clip: text;
    color: transparent;

}

.slider {
    display: flex;
    align-items: center;
    width: 90%;
    height: 300px;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.message {
    width: 350px;
    height: 150px;
    margin-top: 100px;
    background-color: rgb(27, 26, 25);
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.message h1 {
    margin-top: 20px;
    color: rgb(116, 232, 232);
}

.message h2 {
    color: white;
    font-size: 18px;
    text-align: center;


}

@media (min-width:1024px){
   .slider{
      justify-content: center;
   }
}
