#about {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background-color: rgb(61, 113, 96); */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftabout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.circle-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(92, 188, 214);
    box-shadow: 2px 2px 15px  rgb(92, 188, 214);
}

.line {
    height: 120px;
    width: 4px;
    background-color: white;
}

.leftcontent{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.leftcontent ul {
    list-style: none;
}
.leftcontent h1{
 background: linear-gradient(to right,rgb(202, 60, 60),white) ;
 background-clip: text;
 color: transparent;
}
.leftcontent li{
    color: white;
}
.leftcontent span{
    color: rgb(26, 212, 226);
}

.rightabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
@media (max-width:750px){
    #about{
        grid-template-columns: 1fr;
        gap: 80px;
    }
    .leftabout{
        gap: 20px;
    }
}