.smallcard{
      width: 300px;
    height: 150px;
    background-color: rgb(27, 26, 25);
    position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   box-shadow: 2px 2px 10px black,2px 2px 10px black;
   border-radius:10px ;
   cursor: pointer;
    flex-shrink: 0;
    color: rgb(116, 232, 232);
}
.smallcard:hover{
      box-shadow: 2px 2px 10px rgb(18, 209, 226),2px 2px 10px rgb(26, 169, 195);
    transition: all 0.4s;

}
.live{
    padding: 5px;
    width: 80px;
    text-align: center;
    background-color: rgb(86, 4, 4);
    border-radius: 10px;
    border: 1px solid black;
}
.live:hover{
    background-color:black ;
     border: 1px solid rgb(41, 241, 227);
}