#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    /* background-color: aquamarine; */
}
.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.righthome img{
  width: 530px;
  margin-top: 220px;
  margin-right: 25px;
}
.imagebox{
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: rgb(251, 250, 250);
    filter: drop-shadow(2px 2px 10px rgb(67, 229, 232));
    overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

}
.homedetails{
    color: white;
    font-size: 3vmax;
}
.line1{
    font-size: 0.7em;
}
.line2{
    font-size: 1.5em;
    background:linear-gradient(to right,rgb(20, 193, 208),white) ;
    background-clip: text;
    color: transparent;
}
.homedetails button{
    padding: 10px 30px;
    background-color: aqua;
    color: black;
    border: 2px solid rgb(26, 225, 225);
    border-radius: 20px;
    font-size: 18px;
    margin-top: 26px;
    transition:all 0.3s ;
    width: 150px;
    cursor: pointer;
}
.homedetails button:hover{
    background-color: transparent;
    color: aqua;

}
.icon-box{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.icon{
    display: flex;
    gap: 20px;
    font-size: 25px;
    cursor: pointer;
  
}
a{
    text-decoration: none;
    color: beige;
    transition: color 0.3s ease;
}
a:hover{
   color: rgb(62, 230, 249);
}
@media (max-width:750px){
    #home{
        flex-direction: column-reverse;
    }
    .lefthome{
        width: 100%;
        height: 50vh;

    }
      .righthome{
        width: 100%;
        height: 50vh;
        align-items: end;

    }
   
    .imagebox{
        width: 250px;
        height: 250px;
    }
   
}
