#contact{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.contact-heading{
    font-size: 5rem;
    background: linear-gradient(to right, rgb(99, 99, 243),rgb(247, 241, 241));
    background-clip: text;
    color: transparent;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(20, 21, 21);
    box-shadow: 2px 2px 10px rgb(76, 79, 79),2px 2px 10px rgb(49, 47, 47);
    transition: all 0.3s;
}
form:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgb(70, 234, 234),2px 2px 10px rgb(63, 211, 248);
}

form input{
    width: 300px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(30, 29, 29);
    color: white;
    transition: all 0.3s;
    border: 1px solid rgb(32, 224, 224);
    padding-inline-start: 10px;
}
form input:focus{
    box-shadow:2px 2px 10px rgb(52, 228, 241) ;
}
form input::placeholder{
    color: aliceblue;
   
}
 textarea{
    
    width: 300px;
    height: 140px;
    border-radius: 8px;
    background-color: rgb(30, 29, 29);
    color: white;
    transition: all 0.3s;
    border: 1px solid rgb(32, 224, 224);
    padding-inline-start: 10px;
 }
 form button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background: rgb(30, 234, 234);
    color: black;
    font-size: 17px;
    font-weight: bolder;
    transition: all 0.3s;
 }
  form button:hover{
      background: rgb(20, 22, 22);
    color: rgb(73, 226, 200);
    border: 2px solid rgb(24, 173, 168);
  }
@media (max-width:750px){
   form{
    width: 350px;
   } 
}