nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between ;
     align-items: center;
    /* background-color: rgb(26, 26, 25); */
    padding: 20px;
    position: fixed;
    z-index: 20;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 20px;
}
nav ul a{
    cursor: pointer;
}
.active{
    color: rgb(253, 121, 121);
    border-bottom: 2px solid white;
}
nav h1{
    font-size: 30px;
    background:linear-gradient(to right,rgb(20, 193, 208),white) ;
    background-clip: text;
    color: transparent;
    
}

.hamburger{
  display: none;
    flex-direction: column;
    gap: 10px;

}
.hamburger .ham{
  
    background-color: white;
    width: 35px ;
    height: 2px;
    transition: all 0.5s;
}
.mobilemenu{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    right: 0;
  flex-direction: column;
    transform: translateX(100%);
    transition: all 0.5s;
    background-color: rgba(59, 50, 50, 0.247);
}
.activemobile{
  transform: translateX(0%);
 
}
.activeham .ham:nth-child(1){
    transform: rotate(45deg);
     position: relative;
     top: 15px;
}
.activeham .ham:nth-child(2){
 opacity: 0;
}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
     position: relative;
     top: -8px;
}
@media (max-width:750px){
    .dekstopmenu{
        display: none;
    }
    .hamburger{
        display: flex;
    }
}